*{
    font-family: Arial;
}
body{
    background-color: rgb(7, 7, 53);
    margin:0;
}

header{
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
    background-color:  #78866b;
}

.menu{
    list-style: none;
    background-color: #78866b;
    justify-content: space-around;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row
}


.menu ul li{
    display: flex;
}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: background .4s;
}
.menu ul li a:hover{
    background-color: #4b6632;
}
  section{
      text-align: center;
      margin-top: 30px;
      background-color: #78866b;
      color: white;
      padding-top:20px;
      padding-bottom: 20px;
      margin: 40px;
  }
  article{
      background-color: #78866b;
      margin-top: 30px;
      padding: 20px;
      margin: 40px;
      color:white;
      
  }
  
  .link{
      text-decoration: none;
      color:white;
  }

  .imagens{
      
      height: 250px;
  }
  
  .pagina2{
      text-align: left;
      margin: 40px;
      padding-top: 20px;
      padding-bottom: 15px;
      padding: 30px;
      color: white;
  }
  
  .final-da-pagina{
      text-align: center;
      margin: 40px;
      margin-bottom: 0px;  
      padding-top: 20px;
      padding-bottom: 8px;
      background-color: #78866b;
      color: white;
  }

p a:visited{
    color:black;

}

p a:link{
    color:white;
}